

/* @import url(https://fonts.bunny.net/css?family=aguafina-script:400);
@import url(https://fonts.bunny.net/css?family=aguafina-script:400|akronim:400);
@import url(https://fonts.bunny.net/css?family=aguafina-script:400|akaya-kanadaka:400|akronim:400); */
@import url(https://fonts.bunny.net/css?family=aguafina-script:400|akaya-kanadaka:400|akronim:400|alex-brush:400);

*{
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* ich will das font von bootstrap (system-ui), und finde Segoe UI auch gut. Die anderen lasse ich stehen falls andere Leute die fonts (in weißem Text) haben */

}

body {
    background: linear-gradient(-45deg, rgb(250, 250, 220, 0.6), rgb(124, 203, 230, .7)), url(./src/pawel-czerwinski-sE97eb0WhGI-unsplash.jpg);
    height: 100vh;
    position: relative;
}
header {
    background: linear-gradient(-45deg, rgb(250, 250, 220,.3),rgb(124, 203, 230, .3));
    height: 115px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    /* gap: 4rem; */
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 20px;
    border-bottom: .3px solid darkslateblue;

}
span {
    font-family: 'Aguafina Script', handwriting;
    /* font-family: 'Alex Brush', handwriting; */
    /* font-family: 'Akaya Kanadaka', display; */

    /* font-size: xx-large; */
    color: rgb(4, 4, 71);
    font-weight: bold;
}


header span {
    /* font-family: 'Aguafina Script', handwriting; */
    font-size: xx-large;
    /* color: rgb(4, 4, 71); */
    /* border: 1px solid rgb(0, 139, 139); */
}

h1 {
    color: rgb(4, 4, 71);
    font-family: 'Aguafina Script', handwriting;
    font-family: 'Akronim', display;
    font-family: 'Akaya Kanadaka', display;
    font-size: 36px;
    display: block;
    position: fixed;
    top: 20px;
    left: 120px;

}
nav{
    display: flex;
    gap: 1.2rem;
    align-items: end;
    /* justify-content: end; */
    padding-bottom: .7rem;
    margin-left: -50px;
    border-bottom: .5px solid darkslateblue;
}
nav li {
    list-style: none;
    /* transition-duration: .6s; */
    /* transition-delay: 2s; */
    transition: all;
}
nav a {
    text-decoration: none;
    color: rgb(28, 34, 68);
    font-weight: 400;
}
 a:hover {
    font-weight: 600;
    /* color: rgb(32, 19, 119); */
    /* font-size: .9em; */

 }

nav li:hover {
    background-color: rgba(228, 237, 245, 0.27);
    border-left: 1px solid darkslateblue;
    border-bottom: 1px solid darkslateblue;

    padding: 3px;
    color: rgb(27, 19, 83);
    font-weight: bold;
    text-decoration: underline rgb(78, 19, 78, .4);
    transform: translateY(3px) translateX(-3px) scale(1.1);
    border-radius: 5px;
}
.motto {
    min-width: 120px;
    height: auto;
    /* border: 1px solid darkslategrey; */
    border-radius: 8px;
    /* position: absolute;
    top: 30px;
    right: 40px; */
    background-image: url(./src/learning-doing.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;

}


main {
    /* margin-top: 170px; */
    /* margin top weg, bei table (absolute) angewandt. So klappt es, mit position relative hier und absolute bei table, exI, Konzept usw */
    position: relative;
    top: 170px;
    left: 15px;
    padding-right: 27px;
}

/* .concept {
    background-image: ;
} */

/* AufgabenListe */
/* main relative gemacht, table absolute; sonst rutscht die tabelle unter den header beim scrollen. Nachteil: der Hintergrund scrollt jetzt nicht mehr (parallax effect).... */
/* table {
    position: absolute;

    fortschreitender Einsicht: table braucht nicht absolute. Einfach bei MAIN, EINMAL position top 170px left 15px gegeben. Dann fängt der Inhalt auf jeder Seite unter dem Header - mit Luft - an.

} */
table caption {
    color: #010f29e0;
    text-shadow: #010913a8;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: -30px;
    /* font-style: oblique; */
    border: #0441344d;
    border-style: double;
    border-radius: 15px;
    background: #ffffff27; 
    background: linear-gradient(to right, #0441344f, #5a809215, #0441344f);

    
}
table {
    /* margin: 0 auto; */
    width: 100%;
    color: #010f29e0;
}
table *{
    padding-left: 2px;
}

table, th {
    margin: 0 auto;
    border-bottom: 1px solid darkslateblue;
    /* column-gap: 100px; */
}
tbody tr td:nth-child(2) {
    border-right: 1px solid darkslategray;
        background: #ffffff27; 

    /* border-bottom: 1px solid darkslategray; */
    font-weight: bold;
    font-size: small;

    padding: auto 0;
}
td:nth-child(5)  {
    border-left: 1px solid darkslategray;
    background: #ffffff70; 

    /* background: rgba(124, 203, 230, .3); */

    /* border-bottom: 1px solid darkslategray; */
    /* max-height: 5rem; */
    /* max-width: fit-content; */

    /* padding: 0;
    max-width: 200px;
    min-height: 4rem; */

    /* ich kriege die Spalte nicht formattiert, und die Bilder größer */
    /* object-fit: contain; */
}
td img {
    height: 50px;
    width: auto;
}


/* Pause */
img {    
    width: 15%;
    /* height: auto; */
    margin-left: 75px;
    }

.exI {
    margin-top: 50px;
    /* hier auch wieder margin zu fixed header geben, sonst rutscht es durcheinander */
    /* fortschreitender Einsicht: top 170px left 15px EINMAL bei MAIN geben ;-) */

    border: 1px solid darkslateblue;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;

    background-color: white;
    background-image: url(./src/Pause-Übung-I_farblich.excalidraw.svg);
    background-size: contain;
    background-repeat: no-repeat;

    padding-top: 270px;
    padding-left: 55px;

    box-shadow: 2px 3px 5px rgba(138, 78, 78, 0.5);

    align-items: end;

    transition-property: all;
    transition-duration: 1s;
}
.exI:hover {
    transform: scale(1.2);
    translate: 40px;

}


/* links */
.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid darkslateblue;
    border-radius: 35px 12px 0 0;
    padding: 7px;
    background: linear-gradient(-45deg, rgb(250, 250, 220,.2),rgb(124, 203, 230, .2));
    /* min-width: fit-content; */
}
.card h3 {
    color: #023f52cb;
    background-color: #0441344f;
    background: linear-gradient(to right, #0441344f, #5a809215, #0441344f);

    border: 1px solid darkslateblue;
    border-radius: 35px 12px 0 0;
    width: 230px;

    padding: 20px;
    margin-bottom: 10px;
}
.card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
