:root {
    --fa-color: rgba(69, 12, 116, 0.7); 
    --bg-steelblue: #010f2963;

}




@import url(https://fonts.bunny.net/css?family=aguafina-script:400|akaya-kanadaka:400|akronim:400|alex-brush:400);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* ich will das font von bootstrap (system-ui), und finde Segoe UI auch gut. Die anderen lasse ich stehen falls andere Leute die fonts (in weißem Text) haben */

    /* outline: 1px solid red; */
}

body {
    background: linear-gradient(90deg, rgb(250, 250, 220, 0.5), rgb(124, 203, 230, .7)), url(./src/pawel-czerwinski-sE97eb0WhGI-unsplash.jpg);
    
    height: 100vh;
    /* position: relative; */
}
header {
    /* z-index: 10; */
    /* background: linear-gradient(-45deg, rgb(250, 250, 220,.3),rgb(124, 203, 230, .3)); */
    background: linear-gradient(90deg, rgba(226, 228, 219, 0.66),rgba(138, 181, 196, 0.719)), url(./src/pawel-czerwinski-sE97eb0WhGI-unsplash.jpg);

    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    /* gap: 4rem; */
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 20px;
    border-bottom: .3px solid darkslateblue;
}

header span{
    font-family: 'Aguafina Script', handwriting;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(4, 4, 71);
    /* border: 1px solid rgb(0, 139, 139); */
}

h1 {
    color: rgb(4, 4, 71);
    font-family: 'Aguafina Script', handwriting;
    /* font-family: 'Akronim', display; */
    /* font-family: 'Akaya Kanadaka', display; */
    /* font-size: 36px; */
    font-size: 200%;
    display: block;
    position: fixed;
    top: 20px;
    left: 120px;
    padding-right: 4px;
}
header ul{
    display: flex;
    column-gap: 1.2rem;
    align-items: end;
    padding-bottom: .7rem;
    border-bottom: 1px solid darkslateblue;
    padding-right: 40px;
}
header ul li {
    list-style: none;
    transition-duration: .6s; 
    /* transition-delay: 2s; */
    transition: all;
}
strong {
    color: #035032;
    background-color: rgba(228, 237, 245, 0.17);
    border-radius: 5px 5px 0 0;
    padding: 3px;
    border-bottom: 2px double rgba(6, 70, 20, 0.699);
}
header ul a {
    text-decoration: none;
    color: rgb(28, 34, 68);
    font-weight: 400;
}
 a:hover {
    font-weight: 600;
    color: rgb(32, 19, 119);
    color: rgb(28, 34, 68);
    /* font-size: .9em; */
 }

header ul li:hover {
    background-color: rgba(228, 237, 245, 0.27);
    border-left: 1px solid darkslateblue;
    border-bottom: 1px solid darkslateblue;

    padding: 3px;
    color: rgb(27, 19, 83);
    font-weight: bold;
    text-decoration: underline rgb(78, 19, 78, .4);
    transform: translateY(3px) translateX(-3px) scale(1.1);
    border-radius: 5px;
}

.motto {
    max-width: 125px;
    width: 100%;
    height: auto;
    /* border: 1px solid darkslategrey; */
    border-radius: 15px 20px 0 0;
    background-color: rgba(24, 74, 124, 0.212);

    background-image: url(./src/learning-doing.jpeg);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: end;
    /* position: absolute; */
    /* right: 40px; */
    margin-left: 30px;
}
/* media queries */
@media screen and (min-width: 633px){
    .motto {
        width: 140px;
    }
    h1{
        font-size: 36px;
    }
    nav{
        font-size: 1em;
        gap: 0.6rem;}
    }
@media screen and (max-width: 632px){
    /* .motto {
        width: 90px;
    } */
    h1{
        font-size: 28px;
    }
    ul{
        font-size: 1em;
        gap: 0.6rem;}
    }
@media screen and (max-width: 434px){
    .motto {
    width: 60px;   
    }
    h1{font-size: 22px;
    padding-right: 14px;}
    ul{
        gap: 0.5rem;
        font-size: .9em;}
    } 
@media screen and (max-width:293px) {
    .motto {
        display: none;
    }
    h1 {
        font-size: 18px;
        padding-right: 14px;
        color: rgba(2, 37, 2, 0.788);
    }
    ul{
        font-size: .7em;
        gap: 0.3rem;}
    .card-template img:hover {
        max-width: 100px;
        height: 100px;
    }
}


main {
    box-sizing: border-box;
    /* margin-top: 170px; */
    /* margin top weg, bei table (absolute) angewandt. So klappt es, mit position relative hier und absolute bei table, exI, Konzept usw */
    /* position: relative; */
    /* top: 120px;
    left: 15px; */
    /* padding-right: 27px; wegen scrollbar */

}

/* home
--------------------------------- */
.grid {
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 7px;
    /* outline: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 150px 1fr 1fr;
}
/* .grid article:nth-child(2n){
    background: olive ;
} */
.idee {
    /* outline: 3px solid orange; */
    grid-area: 1/2/2/3;
    padding-left: 50px;
   /* text-align: center; */
    /* background: rgb(250, 128, 114, .4); */
}
.idee img {
    width: 150px;
}
.grid article {
    background: #010f2963;
    color: white;
    padding: 25px;
}
.vorbereitung {
    grid-area: 1/1/4/2;
}
.bedingungen {
    grid-area: 2/2/4/3;
}
.grid ul li{
    /* list-style-image: url(./src/logos/Bildschirmfoto\ vom\ 2024-06-27\ 12-52-34.png);
    list-style-image: url(./src/logos/Bildschirmfoto\ vom\ 2024-07-02\ 10-54-51.png); */
    list-style: circle;
}
.nachbereitung {
    grid-area: 1/3/4/4;
}
.grid h4 {
    color: orange;
    padding-bottom: 10px;
}

/* (UIB-)Themen 
-----------------------------*/
.cards {
    padding-top: 20px;

    /* margin-top: 25px; */
    height: 87vh;
    overflow: scroll;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    /* border: #551a8b; */
    /* background: #6157697c; */
    justify-content: center;
    align-items: center;
}
.card-template {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 320px;
    padding: 25px;
    border: 1px solid #551a8b;
    border: 2px solid rgb(85, 26, 139, .6);
    box-shadow: 3px 5px 10px rgba(10, 2, 19, 0.4);
    border-radius: 20px 0 45px 20px;
    background: rgba(71, 103, 110, 0.301);
    position: relative;
}
.card-template img {
    position: absolute;
    top: 10px;
    right: 15px;
    border: #551a8b;
    width: 140px;
    height: auto;
    transition: all;
    transition-duration: 1.1s;
}
.card-template img:hover {
    transform: scale(1.7) translateX(-24px) translateY(25px);
    border-bottom-right-radius: 25px;
    z-index: 4;
}
.card-template a{
    text-decoration: none;

}
.card-template h4, span {
    z-index: 3;
}
.card-white {
    background: white;
}
.card-yl {
    background: yellow;
}




/* AufgabenListe 
---------------------------*/
/* main relative gemacht, table absolute; sonst rutscht die tabelle unter den header beim scrollen. Nachteil: der Hintergrund scrollt jetzt nicht mehr (parallax effect).... */
/* table {
    position: absolute;

    fortschreitender Einsicht: table braucht nicht absolute. Einfach bei MAIN, EINMAL position top 170px left 15px gegeben. Dann fängt der Inhalt auf jeder Seite unter dem Header - mit Luft - an.

} */
 
table caption {
    color: lightblue;
    text-shadow: #010913a8;
    /* font-size: larger; */
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: -30px;
    /* font-style: oblique; */
    border-bottom: #050b6494;
    /* border-radius: 15px; */
    background: #ffffff27; 
    background: linear-gradient(to right, lightgrey, slateblue
    lightslategrey);
    background: var(--bg-steelblue);
    padding: 12px;


    
}
table {
    position: absolute;
    top: 200px;
    width: 100%;
}
table *{
    padding-left: 2px;
    text-align: center;
    text-decoration: none;
}

table, th {
    margin: 0 auto;
    border-bottom: 2px solid darkslateblue;
    /* column-gap: 100px; */}

thead {
    color: var(--fa-color);
    color: rgba(1, 13, 46, 0.85);
    padding: 12px;
}
td{
    color: #010d25ec;

}

tbody tr td:nth-child(1) {
    border-bottom: 1px solid darkslategray;
    font-size: small;
    border-collapse: collapse;

}

tbody tr td:nth-child(2) {
    border-right: 1px solid darkslategray;
        background: #ffffff27; 

    /* border-bottom: 1px solid darkslategray; */
    font-weight: bold;
    font-size: small;

    padding: auto 0;
}
td:nth-child(5)  {
    border-left: 1px solid darkslategray;
    background: #ffffff70; 
    background-size: cover;

    /* background: rgba(124, 203, 230, .3); */

    /* border-bottom: 1px solid darkslategray; */
    /* max-height: 5rem; */
    /* max-width: fit-content; */

    /* padding: 0;
    max-width: 200px;
    min-height: 4rem; */

    /* ich kriege die Spalte nicht formattiert, und die Bilder größer */
    /* object-fit: contain; */
}
td img {
    height: 50px;
    width: auto;
}


/* Pause 
-----------------------*/
img {    
    width: 15%;
    /* height: auto; */
    margin-left: 75px;
    }
 /* hier auch wieder margin zu fixed header geben, sonst rutscht es durcheinander */
    /* fortschreitender Einsicht: top 170px left 15px EINMAL bei MAIN geben ;-) */
.exercises {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
}

.exI, .exII, .exIII {
   
    border: 1px solid darkslateblue;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;

    background-color: white;
    background-image: url(./src/Pause-Übung-I_farblich.excalidraw.svg);
    background-size: contain;
    background-repeat: no-repeat;

    padding-top: 270px;
    padding-left: 55px;

    box-shadow: 2px 3px 5px rgba(138, 78, 78, 0.5);

    align-items: end;

    transition-property: all;
    transition-duration: 1s;    color: rgba(69, 12, 116, 0.7);

}
.exI {
        background-image: url(./src/Pause-Übung-I_farblich.excalidraw.svg);
}
.exI:hover {
    transform: scale(1.2);
    translate: 40px;
}
.exII:hover {
    transform: scale(1.2);
}
.exIII:hover {
    transform: scale(1.2);
    translate: -40px;
}
.play {
    display: block;
    background-color: var(--bg-steelblue);
    margin: 0px auto;
}
.play button {
    display: block;
    border: none;
    background-color: transparent;

    margin: 0px auto;
    margin-top: 40px;
}
.play button i{
    
    font-size: 20px;
    color: darkgreen;
    text-shadow: 1px 1px rgb(1, 12, 15);
    margin: 0px auto;

}
.arbeiten {
    border: 2px solid green;
    font-size: 1px;
    width: 0px;
    margin: 0px auto;
}

.arbeiten:hover {
    font-size: 20px;
    color: darkgreen;
    border: 2px solid green;
    border-radius: 40px;
    text-shadow: 1px 1px rgb(1, 12, 15);
    background-color: var(--bg-steelblue);
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tenor-gif-embed {
    border-radius: 40px;
    width: 350px;

}
/* .typing {
    border: 2px solid orange;
    border-radius: 40px;
    width: 300px;
    height: auto;
} */

/* links */
.categories {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}
.card {
    /* outline: 1px solid red; */

    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid darkslateblue;
    border-radius: 7px 22px 5px 5px;
    padding: 5px 7px 7px 7px;
    /* padding-top: 0; */
    background: linear-gradient(-45deg, rgb(250, 250, 220,.2),rgb(124, 203, 230, .2));
    /* min-width: fit-content; */
    box-shadow: 3px 5px 10px darkslategray;
}

.card .fa-solid, .card .fa-regular {
    color: rgba(69, 12, 116, 0.7);
    position: absolute;
    top: 4px;
    left: 5px;

    /* display: inline; */
    /* z-index: 2; */
}
.card h3 {
    /* z-index: 3; */
    color: #023f52cb;
    background-color: #0441344f;
    background: linear-gradient(to right, #0441344f, #5a809215, #0441344f);

    border: 1px solid darkslateblue;
    border-bottom: double;
    border-radius: 55px 12px 5px 5px;
    width: 230px;

    padding: 15px;
    padding-left: 25px;
    margin-bottom: 10px;
}
.card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #551a8b;
}
.card a:hover {
    color: rgb(28, 34, 68);
    text-decoration: underline;
}
.card img {
    outline: 2px solid var(--fa-color);
    border-radius: 5px;
    position: absolute; 
    left: 110px;   

}
.card span {
    font-family: 'Aguafina Script', handwriting;
}



/* back to top */
.top {
    position: absolute;
    bottom: 70px;
    right: 20px;
}

/* footer */

footer {
    background: hwb(220 1% 77% / 0.658);
    background-image: linear-gradient(rgba(77, 85, 94, 0.6) , rgba(84, 161, 161, 0.589)), url(./src/pawel-czerwinski-sE97eb0WhGI-unsplash.jpg);
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 45px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    z-index: 10;
}
footer span {
    font-family: 'Aguafina Script', handwriting;
    font-size: large;
    font-weight: bolder;
    text-shadow: 1px 2px black;
    color: lightblue;
    /* border: 1px solid rgb(0, 139, 139); */
}
.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
footer a{
    text-decoration: none;
    color: var(--fa-color);
    color: lightcyan;
    font-weight: bold;
    padding: 5px;

}
footer a:hover {
    color: orange;
    background-color: rgba(84, 110, 110, 0.384);
    border: darkslategrey;
}
footer button {
    padding: 4px;
    background: var(--bg-steelblue);
    border-radius: 5px;
    border-color: darkslategray;
    color: orange;
}
footer button:hover {
    transform: scale(1.2);
    background: rgba(112, 128, 144, 0.371);
    color: rgb(10, 10, 54);
    border: 1px solid orange;
}